.head {
  border: 2px solid black;
  text-align: center;
  background-color: pink;
  width: 100%;
  margin-bottom: 1.5px;
}
.box {
  border: 2px solid black;
  display: flex;
  padding: 3px;
  margin-bottom: 1px;
  background-color: skyblue;
}
img{
  border-radius: 50%;
  margin: 2%; 
}
.division {
  padding: 7px;
}
